/**
 * Styles for application skins.
 * @author htanjo
 */

.skin(@color) {
  background-color: @color;
  .content {
    .index {
      color: @color;
      .index-page {
        text-shadow: 0 -1px 0 darken(@color, 10%);
      }
    }
  }
}

.skin-aqua    { .skin(#8fe1f0); }
.skin-green   { .skin(#7ce38f); }
.skin-lime    { .skin(#d2ec57); }
.skin-scarlet { .skin(#ff8174); }
.skin-magenta { .skin(#ff5ea2); }
.skin-purple  { .skin(#c670ea); }
.skin-blue    { .skin(#74a8ff); }