/**
 * Styles for application whole page.
 * @author Tanjo, Hiroyuki
 */

/* Body */
body {
  background-color: #dddad6;
  background-attachment: fixed;
  .radial-gradient(rgba(255,245,230,.5), rgba(255,245,230,0));
  .transition(background-color 1500ms 300ms);
}

/* Page */
.page {
  min-height: 100%;
  overflow: hidden;
  background: url(../img/bg-page.png) fixed;
}

/* Page alert */
.page-alert {
  display: none;
  width: @baseContentWidth;
  margin: 0 auto;
  padding: 150px 0 20px;
  text-align: center;
  font-weight: bold;
  opacity: .7;
}
html.no-js .page-alert.no-js {
  display: block;
}
html.lt-ie8 .page-alert.lt-ie8 {
  display: block;
}

/* Application viewport */
html.no-js,
html.lt-ie8 {
  .app {
    display: none;
  }
}